nav {
  border-bottom: solid 2px crimson;
  position: sticky;
  top: 0;
  z-index: 1;
  box-shadow: 0 4px 7px rgba(0, 0, 0, 0.2), 0 4px 7px rgba(0, 0, 0, 0.27);

  img {
    height: 35px;
    margin-right: 10px;
  }
}
