.dashboard {
  background-color: bisque;
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: center;
  min-height: calc(100vh - 80px);
  width: 100vw;

  .listContainer {
    width: 50%;
  }

  h2 {
    font-size: 45px;
  }
}
