.dashboard {
  background-color: bisque;
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: center;
  min-height: calc(100vh);
  padding-top: 20px;
  width: 100vw;
  background: url(../../assets/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;

  .listContainer {
    width: 60%;
    height: 100%;
    margin-bottom: 5%;
  }
}